:local(.wrapper) {
  header {
    height: 70px;
    width: 100%;
    font-size: 22px;
    padding: 20px;
    background: #1A3A50;
    color: #fff;
    overflow: hidden;
    z-index: 1;
  }
  .content-wrapper {
    color: #333;
  }
}
