html, body, :global(#root) {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Helvetica Neue",Tahoma,Arial,"Microsoft Yahei",sans-serif;
}

div, input, button {
  outline:0px;
}

#root > div {
  height: 100%;
}


.ant-layout {
  height: 100%;
}
