@import '../../variables/base.scss';

html, body, :global(#root) {
  height: 100%;
  font-family: "Helvetica Neue",Tahoma,Arial,"Microsoft Yahei",sans-serif;
  font-size: 14px;
  overflow: hidden;
}

