.btn-primary {
  background: #88ABFB!important;
  color: #fff!important;
  font-weight: normal!important;
}
.btn-cancel {
  background: #C7C7C7!important;
  color: #35404D!important;
  font-weight: normal!important;
}
.btn-search {
  background: #88ABFB!important;
  border-radius: 28px!important;
  color: #fff!important;
  font-weight: normal!important;
}
